.full-width-wrapper-notfound {
    width: 100vw;
    position: relative; 
    height: calc(100vw-100px);
    min-height: 63vh;
  }

.not-found-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
}

::-webkit-scrollbar{
    display:None;
}

.not-found-title {
    font-size: 10rem;
    font-weight: bold;
    margin: 0;
    color: #3cb129;
}

.not-found-message {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.not-found-home-link {
    font-size: 1.2rem;
    color: white;
    background-color: #3cb129;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.not-found-home-link:hover {
    background-color: #3cb129;
}
