.tracking-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.search-tracking {
  width: 152vh;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-block: 40px;
}

.input-tracking {  
  display: flex;
  flex-grow: 1;
  padding: 10px;
  background-color: #ffffff;
  color: black;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin-left: var(--padding);
}

.icon-bus-metro {
  display: flex;
  color: #9e9e9e;
  font-size: 26px;
  margin-right: 10px;
}

.tracking-item {
  display: flex;
  background-color: rgba(60, 177, 41, 0.8);
  width: 150vh;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: black;
  font-family: Arial, sans-serif;
}

.divider {
  display: flex;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-button {
  background-color: rgba(60, 177, 41, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.page-button.active {
  background-color: rgba(60, 177, 41, 1);
}

.page-button:hover {
  background-color: #45a049;
}

.map-container-tracking-wrapper {
  width: 100%; 
  display: flex;
  justify-content: center;
}

.map-container-tracking.active {
  display: block; 
}

.map-container-tracking {
  width: 150vh; 
  max-width: 100%; 
  height: 200px; 
}


/* Responsive Adjustments */
@media (max-width: 860px) {
  .search-tracking,
  .tracking-item {
    width: 90vw; /* Limit to viewport width for smaller screens */
  }
}


@media only screen and (min-width: 481px) and (max-width: 860px) {

  .search-tracking {
    padding: 8px 16px;
    margin-block: 20px;
    margin-top: 30px;
  }

  .tracking-item {
    padding: 20px;
    font-size: 18px; /* Slightly smaller font size */
  }

  .map-container-tracking {
    width: 90vw; /* Fit the map within viewport width for smaller screens */
    height: 200px; /* Adjust height accordingly */
  }
}

@media only screen and (max-width: 480px) {
  .search-tracking {
    padding: 10px 15px;
    margin-block: 15px;
    margin-top: 30px;
  }

  .tracking-item {
    padding: 15px;
    font-size: 16px; /* Further reduce font size for very small screens */
  }

  .icon-bus-metro {
    font-size: 20px; /* Smaller icon */
    margin-right: 5px;
  }

  .map-container-tracking {
    width: 90vw;
    height: 150px; /* Further reduce height on very small screens */
  }
}
