/* Main container layout */
.account-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 1000px;
    box-sizing: border-box;
  }

  .account-info-header {
    align-self: flex-start;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .settings-box {
    display: flex;
    width: 100%;
    max-width: 1000px; 
    min-height: 600px; 
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .tabs-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .tabs-container button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s;
  }
  
  .tabs-container button:hover,
  .tabs-container button.active {
    background-color: rgba(60, 177, 41);
    color: white;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 200px); 
    max-width: 800px;
    box-sizing: border-box;
  }
  
  .balance-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer; 
  }
  
  .avatar img {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }
  
  .upload-button {
    display: none;
  }

  .top-text {
    width: 500px;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-group label {
    width: 120px;
    font-weight: bold;
    color: #000; 
    margin-right: 10px;
    text-align: left;
  }
  
  .form-group input {
    flex: 1; 
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; 
    color: #000; 
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .save-button {
    background-color: rgba(60, 177, 41);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-start;
  }
  
  .save-button:hover {
    background-color: rgba(50, 150, 35);
  }
  .current-password {
    width: 80%
  }

  @media only screen and (max-width: 860px) {
  }
  