.ticket-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px; 
  margin-top: 60px; 
  gap: 10%;
}

.download-container {
  text-align: start;
  width: 60%;
  color: #000000;
}

.download-container h2 {
  font-weight: 500;
  font-size: 24px; 
}

.ticket-container {
  width: 25%;
  background-color: rgba(60, 177, 41, 0.3);
  padding: 20px 50px 30px 50px;
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-container h1 {
  font-size: 40px;
  color: black;
}

.ticket-container h2 {
  color: black;
  font-size: 30px;
  font-weight: 500;
}

.qr-code {
  display: flex;
  margin: 20px 0; 
}

.countdown-timer {
  font-size: 24px; 
  color: black;
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {

  .download-container {
      width: 80%;
  }

  .ticket-container {
      width: 60%;
      padding: 16px 32px; 
  }
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .ticket-page {
      flex-direction: column;
      align-items: center;
  }

  .download-container {
      width: 90%;
  }

  .ticket-container {
      display: none;
  }
}
