.route-detail-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 400px;
    height: auto;
    background-color: #f9f9f9;
    position: fixed;
    top: 60px;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.route-info {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Reduce or set to 0 to eliminate gap between items */
    overflow-y: auto;
    max-height: calc(100vh - 120px); /* Adjust to fit within the viewport */
    padding-right: 10px; /* For scroll spacing */
    
    /* Hide scrollbar for WebKit-based browsers */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.route-info::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.input-box {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.input-route {
    flex-grow: 1;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-left: var(--padding);
}

.icon-left {
    color: #9e9e9e;
    font-size: 26px;
    margin-right: 10px;
}

.icon-right {
    color: #9e9e9e;
    font-size: 26px;
    margin-left: 10px;
    cursor: pointer;
}

.departure-box {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    color: #000000;
    font-size: 14px;
}

.departure-icon {
    font-size: 26px;
    color: rgba(0, 0, 0);
    align-items: center;
}

.departure-text {
    font-size: 16px;
    color: black;
    font-family: Arial, sans-serif;
    margin-left: 10px;
}

/* Route item and divider styles */
.route-item {
    background-color: rgba(60, 177, 41, 0.8);;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: black;
    font-family: Arial, sans-serif;
}

.divider {
    width: 100%;
    height: 2px;
    margin: 5px 0;
}
