
.home-route {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: red;
    margin-left: 0; 
}

.info-route {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    width: 100%; 
    margin: 0; 
}

.search-field {
    width: 100%; 
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.icon-route {
    font-size: 26px;
    color: rgba(0, 0, 0, 0.5);
}

.input-route {
    font-size: 16px;
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
}

.swap-icon {
    font-size: 36px;
    cursor: pointer;
    color: #555;
    margin: 0 10px; /* Adjusts spacing to keep it near input fields */
}
