.full-width-wrapper-feedback {
  width: 100vw;
  position: relative; 
  height: calc(100vw-100px);
  min-height: 80vh;
}
.feedback-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
}

.feedback-text {
  width: 50%;
  text-align: left;
}

.feedback-text h1 {
  color: black;
  margin-top: 50px;
  font-size: 32px;
}

.feedback-text h2 {
  color: black;
  font-weight: 400;
  font-size: 24px;
  margin-right: 50px;
}

.feedback-form {
  width: 50%;
  margin-top: 50px;
}

.feedback-form form {
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
  text-align: start;
}

.feedback-form input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: black;
}

.feedback-form input::placeholder {
  color: #aaa;
  font-size: 14px;
}

.feedback-form button {
  width: 96px;
  background-color: rgba(60, 177, 41);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form button:hover {
  background-color: rgba(60, 177, 41, 0.8);
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .feedback-container {
    flex-direction: column;
    padding: 32px;
  }

  .feedback-text, .feedback-form {
    width: 100%;
  }

  .feedback-text h1 {
    font-size: 28px;
  }

  .feedback-text h2 {
    font-size: 20px;
    margin-right: 10px;
  }


  .feedback-form {
    margin-top: 20px;
  }

  .feedback-form label {
    font-size: 18px;
  }

  .feedback-form input {
    font-size: 14px;
  }

  .feedback-form button {
    width: 30%;
  }
}

/* Small screens */
@media only screen and (max-width: 480px) {
  .feedback-container {
    flex-direction: column;
    padding: 20px;
  }

  .feedback-text h1 {
    font-size: 24px;
  }

  .feedback-text h2 {
    font-size: 16px;
    margin-right: 10px;
  }

  .feedback-form {
    margin-top: 20px;
  }

  .feedback-form label {
    font-size: 16px;
  }

  .feedback-form input {
    font-size: 14px;
    padding: 8px;
  }

  .feedback-form button {
    font-size: 14px;
  }
  .feedback-text, .feedback-form {
    width: 100%;
  }
}
