:root {
  font-size: 16px; 
}

.body-page {
  height: 100vh;
}

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  flex-grow: 1;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 384px; 
  padding: 20px 40px; 
  background-color: rgba(60, 177, 41, 0.3);
  border: none;
  border-radius: 20px; 
  margin-top: 5%;
}

.button {
  display: flex;
  padding: 16px; 
  width: 40%;
  background-color: #5F8F55;
  font-size: 20px; 
  border: none;
  border-radius: 40px; 
  margin-top: 20px;
  cursor: pointer;
}

.text {
  width: 80%;
  font-size: 24px;
  margin-bottom: 5px; 
  text-align: left;
  color: black;
}

.header {
  width: 100%;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.reg-text { 
  font-size: 16px; 
  color: black;
  font-style: italic;
  margin-top: 10px;
  cursor: pointer;
}

.logo-login {
  display: flex;
  cursor: pointer;
  width: 120px; 
  height: auto;
}

.register-text {
  width: 80%;
  font-size: 20px; 
  margin-bottom: 5px; 
  text-align: left;
  color: black;
}

.reg-input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: none;
  border-radius: 10px; 
  font-size: 20px; 
  padding: 20px; 
  background-color: white;
  color: black;
  outline: none;
  box-sizing: border-box;
  background-clip: padding-box;
}

.reg-input-field::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px; 
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .register-container {
    width: 85%;
    padding: 3%;
  }

  .header {
    font-size: 28px; 
  }
  .register-text, .text, .reg-input-field::placeholder {
    font-size: 18px; 
  }

  .button {
    font-size: 18px; 
  }
}

@media only screen and (max-width: 480px) {
  .register-container {
    width: 90%;
    padding: 5%;
  }

  .header {
    font-size: 24px; 
  }

  .register-text, .text, .reg-input-field::placeholder {
    font-size: 16px; 
  }

  .reg-input-field {
    font-size: 16px; 
    padding: 14px; 
  }

  .button {
    font-size: 16px; 
    padding: 12px; 
    width: 50%;
  }

  .logo-login {
    width: 80px; 
  }
}
