.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 400px;
  padding: 32px 48px;
  position: relative;
  background-color: rgba(60, 177, 41, 0.3);
  border: none;
  border-radius: 20px;
  text-align: center;
}
.login-container input::placeholder {
  font-size: 25px;
}
.login-button {
  display: flex;
  padding: 16px 20px;
  background-color: #5F8F55;
  font-size: 20px;
  border: none;
  border-radius: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.text {
  width: 80%;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
  color: black;
}

.header {
  width: 100%;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.repass-text {
  font-size: 18px;
  color: black;
  text-decoration: underline;
  text-align: left;
  width: 80%;
  cursor: pointer;
}

.reg-text {
  font-size: 18px;
  color: black;
  margin-top: 10px;
  cursor: pointer;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
  background-color: white;
  color: black;
  outline: none;
  box-sizing: border-box;
  background-clip: padding-box;
}

.input-field::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.logo-login {
  cursor: pointer;
  height: auto;
  position: absolute;
  left: 16px;
  top: 20px;
}

footer {
  margin-top: auto;
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .login-container {
    width: 85%;
    padding: 4%;
  }
}

@media only screen and (max-width: 480px) {
  .login-container {
    width: 80%;
    padding: 4%;
  }

  .login-button {
    font-size: 16px;
    padding: 16px;
  }

  .text, .header, .repass-text, .reg-text {
    font-size: 16px;
  }

  .input-field {
    font-size: 16px;
    padding: 16px;
  }
}
