.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 100vh;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 25rem; 
  padding: 2rem 3rem; 
  position: relative;
  background-color: rgba(60, 177, 41, 0.3);
  border: none;
  border-radius: 1.25rem; 
  text-align: center;
}
.login-button {
  display: flex;
  padding: 1rem 1.25rem; 
  background-color: #5F8F55;
  font-size: 1.25rem; 
  border: none;
  border-radius: 2.5rem; 
  margin-top: 1.25rem; 
  cursor: pointer;
}
.text {
  width: 80%;
  font-size: 1.25rem; 
  margin-bottom: 0.3125rem; 
  text-align: left;
  color: black;
}
.header {
  width: 100%;
  font-size: 2.1875rem; 
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 0.625rem; 
}
.repass-text {
  font-size: 1.125rem; 
  color: black;
  text-decoration: underline;
  text-align: left;
  width: 80%;
  cursor: pointer;
}
.reg-text {
  font-size: 1.125rem; 
  color: black; 
  margin-top: 0.625rem; 
  cursor: pointer;
}
.input-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  border: none;
  border-radius: 0.625rem; 
  font-size: 1.25rem; 
  padding: 1.25rem; 
  background-color: white;
  color: black;
  outline: none;
  box-sizing: border-box;
  background-clip: padding-box;
}
.input-field::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.25rem; 
}
.logo-login {
  cursor: pointer;
  height: auto;
  position: absolute;
  left: 1rem; 
  top: 1.25rem; 
}

footer {
  margin-top: auto;
}

@media only screen and (min-width: 30em) and (max-width: 64em) {
  .login-container {
    width: 85%; 
    padding: 4%; 
  }
}

@media only screen and (max-width: 30em) { /*480*/
  .login-container {
    width: 80%; 
    padding: 4%; 
  }

  .login-button {
    font-size: 1rem; 
    padding: 1rem; 
  }

  .text, .header, .repass-text, .reg-text {
    font-size: 1rem; 
  }

  .input-field {
    font-size: 1rem; 
    padding: 1rem; 
  }
}
