.popup {
    border-radius: 20px; 
    overflow: hidden; 
  }
  
  .popup-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px;
    border: none;
    border-radius: 20px;
    text-align: center; 
  }
  
  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .popup-inner input[type='text'] {
    background-color: white;
    color:black;
    font-size: 20px;
  }
  
  .popup-inner button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(60, 177, 41, 0.8); 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    width: 40%;
    margin-top: 20px;
  }
  
  .popup-inner button:hover {
    background-color: #45a049; 
  }
  .popup-inner h {
    font-weight: bold;
  }
  .popup_inner input {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    font-size: 16px; 
    outline: none; 
    margin-bottom: 15px;
    background-color: white;
  }
  .popup-inner input::placehoder {
    color:rgba(white, white, white, 0.3)
  }