.map-container {
    height: 67%; /* Adjust height as needed */
    width: 100%; /* Full width of the viewport */
    position: absolute;
    overflow: hidden; /* Prevent scrolling */
    left: 0;
    bottom: 0;
  }
  .map-routedetail {
    top: 60px;
    right: 0;
    overflow: hidden;
    width: calc(100% - 440px); /* Full width minus the sidebar */
    height: calc(100vh - 60px);
    position: absolute;
}
  